img{
    width: 100%;
    height: 50px;
}
.contenedorPromo{
    width: 70%;
   
    float: left;
}
.contenedorReparto{
    width: 30%;
    float: left;
    padding: 0 0 0 60px;
}
footer{
    width: 100%;
    float: right;
    padding: 0 0 0 40%;
    background-color: black;
    color: white;
}
.redSocial:hover{
    color: yellow;
  
}
#a:hover{
    color: red;
}
.navegador{
    background-color: black;
}
.menu{
    color: white;
}
.pie{
    font-size: 11px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pie:hover{
    background-color: yellow;
    color: black;
}

.peperoni,.cuatroquesos,.rucula,.napolitana,.muzzan,.pollo{
    font-size: 14px;
    background-color:darkkhaki;
}
.peperoni{
    color: red;
}
.cuatroquesos{
    color: yellow;
}
.rucula{
    color: green;
}
.napolitana{
    color: orangered;
}
.muzzan{
    color: blue;
}
.pollo{
    color: crimson;
}
.reparto{
    font-size: 14px;
    background-color: darkred;
    color: white;
}
.zona{
    font-size: 14px;
}
table,tr,td,th{
    border-collapse: collapse;
    border: red solid;
}
article{
    float: left;
    width: 100%;
    height: 100%;
}
.nuevoEstilo{
    background-color: yellow;
}
.oculto{
    display: none;
}
.pedido{
    float: left;
    width: 50%;
    height: 100%;
}
.seccionPedidos{
    float: left;
    width: 50%;
    height: 100%;
    padding: 0 0 5% 0;
}

.recomendarPizza{
    float: left;
    width: 30%;
    height: 100%;
}
